weltbeherrschungscode/Stefan/basisklassen.py
camp2code-project_phase_1/Code/__pycache__/basisklassen.cpython-37.pyc
weltbeherrschungscode/Stefan/__pycache__/basisklassen.cpython-37.pyc
weltbeherrschungscode/Stefan/__pycache__/loggingc2c.cpython-37.pyc
weltbeherrschungscode/Stefan/logdata.sqlite
weltbeherrschungscode/Andre/__pycache__/loggingc2c.cpython-39.pyc
camp2code-project_phase_1/Code/__pycache__/basisklassen.cpython-37.pyc
weltbeherrschungscode/flowman23/__pycache__/florian_auto.cpython-37.pyc
weltbeherrschungscode/flowman23/__pycache__/loggingc2c.cpython-37.pyc
weltbeherrschungscode/flowman23/.ipynb_checkpoints/loggingc2c-checkpoint.py
weltbeherrschungscode/Allan/__pycache__/loggingc2c.cpython-37.pyc
weltbeherrschungscode/Allan/__pycache__/loggingc2c.cpython-37.pyc
weltbeherrschungscode/Allan/__pycache__/dash.cpython-37.pyc
weltbeherrschungscode/Stefan/auto_code.py
weltbeherrschungscode/Stefan/Bilder/
weltbeherrschungscode/Stefan/__pycache__/auto_code.cpython-37.pyc
weltbeherrschungscode/flowman23/auto_code.py
weltbeherrschungscode/Allan/1.1_dash_example_1.py
weltbeherrschungscode/Allan/2.0_callbacks.py
weltbeherrschungscode/Allan/3.0_boot_strap.py
weltbeherrschungscode/Allan/__pycache__/dash.cpython-38.pyc
weltbeherrschungscode/Allan/1.2_1.3_dash_core_componenets_and_plotly.py
weltbeherrschungscode/Allan/logdata.sqlite
weltbeherrschungscode/Allan/AllanDBsingle.sqlite
weltbeherrschungscode/Allan/__pycache__/loggingc2c.cpython-38.pyc
camp2code-project_phase_1/Code/__pycache__/basisklassen.cpython-37.pyc
weltbeherrschungscode/__pycache__/auto_code.cpython-37.pyc
weltbeherrschungscode/Allan/AllanDBsingle.sqlite
camp2code-project_phase_1/Code/__pycache__/basisklassen.cpython-37.pyc
weltbeherrschungscode/Allan/AllanDBsingle.sqlite
weltbeherrschungscode/Stefan/__pycache__/Test_Stefan.cpython-37.pyc
weltbeherrschungscode/__pycache__/auto_code.cpython-37.pyc
weltbeherrschungscode/__pycache__/basisklassen.cpython-37.pyc
weltbeherrschungscode/__pycache__/loggingc2c.cpython-37.pyc
weltbeherrschungscode/logdata.sqlite
weltbeherrschungscode/flowman23/__pycache__/auto_code.cpython-37.pyc
weltbeherrschungscode/__pycache__/basisklassen_cam.cpython-37.pyc
weltbeherrschungscode/Stefan/__pycache__/basisklassen_cam.cpython-37.pyc
.vscode/settings.json
weltbeherrschungscode/Allan/Projektphase2/__pycache__/auto_code_Allan.cpython-37.pyc
camp2code-project_phase_2/von Gruppe 4/.gitignore
camp2code-project_phase_2/von Gruppe 4/basecar.py
camp2code-project_phase_2/von Gruppe 4/basisklassen_cam.py
camp2code-project_phase_2/von Gruppe 4/basisklassen.py
camp2code-project_phase_2/von Gruppe 4/README.md
camp2code-project_phase_2/von Gruppe 4/requirements.txt
camp2code-project_phase_2/von Gruppe 4/video_preprocess.ipynb
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/Fahrbahn_Hagen.jpeg
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/JuergenLeft.jpg
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/JuergenRight.jpg
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/JuergenStraight.jpg
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/PiCar_leichte_Kurve.jpg
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/PiCar_mittlere_Kurve.jpg
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/PiCar_starke_Kurve.jpg
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/PiCar.jpg
camp2code-project_phase_2/von Gruppe 4/Dev/basecar.py
camp2code-project_phase_2/von Gruppe 4/Dev/basisklassen_cam.py
camp2code-project_phase_2/von Gruppe 4/Dev/basisklassen.py
camp2code-project_phase_2/von Gruppe 4/Dev/camcar_dash_tim.py
camp2code-project_phase_2/von Gruppe 4/Dev/camcar_tim.py
camp2code-project_phase_2/von Gruppe 4/Dev/datenlogger.py
camp2code-project_phase_2/von Gruppe 4/Dev/PiCar_Dashboard.py
camp2code-project_phase_2/von Gruppe 4/Dev/PiCar.py
camp2code-project_phase_2/von Gruppe 4/playground/.DS_Store
camp2code-project_phase_2/von Gruppe 4/playground/README.md
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/Demo_OpenCV_Martin.ipynb
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/Demo_OpenCV_Tim.ipynb
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/Demo_OpenCV.ipynb
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/PiCar_leichte_Kurve.jpg
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/PiCar_mittlere_Kurve.jpg
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/PiCar_starke_Kurve.jpg
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/PiCar.jpg
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/squirrel.jfif
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/squirrel.png
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/street.jpg
camp2code-project_phase_2/von Gruppe 4/playground/Software/basecar.py
camp2code-project_phase_2/von Gruppe 4/playground/Software/basisklassen_cam.py
camp2code-project_phase_2/von Gruppe 4/playground/Software/basisklassen.py
camp2code-project_phase_2/von Gruppe 4/playground/Software/remote_steering_image_recording.py
camp2code-project_phase_2/von Gruppe 4/Dev/compute_Lines.py
camp2code-project_phase_2/von Gruppe 4/Dev/preprocess_frame.py
camp2code-project_phase_2/von Gruppe 4/Dev/video_preprocess.ipynb
camp2code-project_phase_2/von Gruppe 4/CamCar_Dashboard.py
camp2code-project_phase_2/von Gruppe 4/CamCar.py
camp2code-project_phase_2/von Gruppe 4/compute_lines.py
camp2code-project_phase_2/von Gruppe 4/datenlogger.py
camp2code-project_phase_2/von Gruppe 4/preprocess_frame.py
weltbeherrschungscode/__pycache__/frame_editing.cpython-37.pyc
weltbeherrschungscode/Allan/Projektphase2/__pycache__/frame_editing.cpython-37.pyc
.gitignore
weltbeherrschungscode/Allan/Bilder/1.jpg
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:01:35.039318_095.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:01:36.079149_095.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:01:37.430167_088.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:01:38.993840_088.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:01:40.243554_090.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:01:41.661868_090.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:01:42.833008_093.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:01:44.163932_100.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:01:45.608158_099.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:02.151034_093.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:03.250710_078.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:04.993761_075.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:06.689532_083.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:08.639134_088.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:10.351401_096.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:12.424421_088.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:13.560699_082.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:15.060110_085.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:16.727952_085.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:18.101853_098.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:20.372859_095.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:21.777170_094.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:23.174474_093.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:25.131181_110.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:26.909648_090.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:28.328577_087.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:30.417267_086.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:32.648930_098.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:34.686335_087.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:36.543672_074.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:38.393177_075.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:40.365032_083.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:42.095700_094.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:44.162450_094.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:45.463494_090.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:47.460169_082.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:49.287927_080.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:51.253667_093.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:53.062730_081.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:54.986199_067.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:56.725128_072.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:18:58.766087_078.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:19:00.569686_090.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:19:02.464755_083.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:19:04.191218_071.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:19:05.961521_075.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:19:07.045085_077.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:19:08.958041_077.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:19:10.360594_077.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:20:16.914287_094.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:20:17.956734_093.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:20:19.326345_093.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:20:20.716902_093.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:20:22.075292_093.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:20:23.319030_094.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:20:24.639484_094.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:20:26.018829_094.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:20:27.431368_094.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:20:28.806894_093.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:20:30.157116_094.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 10:20:31.419066_093.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 12:02:20.040709_087.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 12:02:21.154089_087.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 12:02:22.212333_087.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 12:02:23.294361_085.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 12:02:24.403381_084.png
weltbeherrschungscode/Allan/Bilder/2022-05-31 12:02:25.643505_088.png
