camp2code-project_phase_1/Code/.gitignore
weltbeherrschungscode/Stefan/basisklassen.py
weltbeherrschungscode/Stefan/config.json
camp2code-project_phase_1/Code/__pycache__/basisklassen.cpython-37.pyc
camp2code-project_phase_1/Code/config.json
camp2code-project_phase_1/Code/config.json
weltbeherrschungscode/Stefan/__pycache__/basisklassen.cpython-37.pyc
