weltbeherrschungscode/Stefan/basisklassen.py
camp2code-project_phase_1/Code/__pycache__/basisklassen.cpython-37.pyc
weltbeherrschungscode/Stefan/__pycache__/basisklassen.cpython-37.pyc
weltbeherrschungscode/Stefan/__pycache__/loggingc2c.cpython-37.pyc
weltbeherrschungscode/Stefan/logdata.sqlite
weltbeherrschungscode/Andre/__pycache__/loggingc2c.cpython-39.pyc
camp2code-project_phase_1/Code/__pycache__/basisklassen.cpython-37.pyc
weltbeherrschungscode/flowman23/__pycache__/florian_auto.cpython-37.pyc
weltbeherrschungscode/flowman23/__pycache__/loggingc2c.cpython-37.pyc
weltbeherrschungscode/flowman23/.ipynb_checkpoints/loggingc2c-checkpoint.py
weltbeherrschungscode/Allan/__pycache__/loggingc2c.cpython-37.pyc
weltbeherrschungscode/Allan/__pycache__/loggingc2c.cpython-37.pyc
weltbeherrschungscode/Allan/__pycache__/dash.cpython-37.pyc
weltbeherrschungscode/Stefan/auto_code.py
weltbeherrschungscode/Stefan/Bilder/
weltbeherrschungscode/Stefan/__pycache__/auto_code.cpython-37.pyc
weltbeherrschungscode/flowman23/auto_code.py
weltbeherrschungscode/Allan/1.1_dash_example_1.py
weltbeherrschungscode/Allan/2.0_callbacks.py
weltbeherrschungscode/Allan/3.0_boot_strap.py
weltbeherrschungscode/Allan/__pycache__/dash.cpython-38.pyc
weltbeherrschungscode/Allan/1.2_1.3_dash_core_componenets_and_plotly.py
weltbeherrschungscode/Allan/logdata.sqlite
weltbeherrschungscode/Allan/AllanDBsingle.sqlite
weltbeherrschungscode/Allan/__pycache__/loggingc2c.cpython-38.pyc
camp2code-project_phase_1/Code/__pycache__/basisklassen.cpython-37.pyc
weltbeherrschungscode/__pycache__/auto_code.cpython-37.pyc
weltbeherrschungscode/Allan/AllanDBsingle.sqlite
camp2code-project_phase_1/Code/__pycache__/basisklassen.cpython-37.pyc
weltbeherrschungscode/Allan/AllanDBsingle.sqlite
weltbeherrschungscode/Stefan/__pycache__/Test_Stefan.cpython-37.pyc
weltbeherrschungscode/__pycache__/auto_code.cpython-37.pyc
weltbeherrschungscode/__pycache__/basisklassen.cpython-37.pyc
weltbeherrschungscode/__pycache__/loggingc2c.cpython-37.pyc
weltbeherrschungscode/logdata.sqlite
weltbeherrschungscode/flowman23/__pycache__/auto_code.cpython-37.pyc
weltbeherrschungscode/__pycache__/basisklassen_cam.cpython-37.pyc
weltbeherrschungscode/Stefan/__pycache__/basisklassen_cam.cpython-37.pyc
.vscode/settings.json
weltbeherrschungscode/Allan/Projektphase2/__pycache__/auto_code_Allan.cpython-37.pyc
camp2code-project_phase_2/von Gruppe 4/.gitignore
camp2code-project_phase_2/von Gruppe 4/basecar.py
camp2code-project_phase_2/von Gruppe 4/basisklassen_cam.py
camp2code-project_phase_2/von Gruppe 4/basisklassen.py
camp2code-project_phase_2/von Gruppe 4/README.md
camp2code-project_phase_2/von Gruppe 4/requirements.txt
camp2code-project_phase_2/von Gruppe 4/video_preprocess.ipynb
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/Fahrbahn_Hagen.jpeg
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/JuergenLeft.jpg
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/JuergenRight.jpg
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/JuergenStraight.jpg
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/PiCar_leichte_Kurve.jpg
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/PiCar_mittlere_Kurve.jpg
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/PiCar_starke_Kurve.jpg
camp2code-project_phase_2/von Gruppe 4/Bilder_Fahrspuren/PiCar.jpg
camp2code-project_phase_2/von Gruppe 4/Dev/basecar.py
camp2code-project_phase_2/von Gruppe 4/Dev/basisklassen_cam.py
camp2code-project_phase_2/von Gruppe 4/Dev/basisklassen.py
camp2code-project_phase_2/von Gruppe 4/Dev/camcar_dash_tim.py
camp2code-project_phase_2/von Gruppe 4/Dev/camcar_tim.py
camp2code-project_phase_2/von Gruppe 4/Dev/datenlogger.py
camp2code-project_phase_2/von Gruppe 4/Dev/PiCar_Dashboard.py
camp2code-project_phase_2/von Gruppe 4/Dev/PiCar.py
camp2code-project_phase_2/von Gruppe 4/playground/.DS_Store
camp2code-project_phase_2/von Gruppe 4/playground/README.md
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/Demo_OpenCV_Martin.ipynb
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/Demo_OpenCV_Tim.ipynb
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/Demo_OpenCV.ipynb
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/PiCar_leichte_Kurve.jpg
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/PiCar_mittlere_Kurve.jpg
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/PiCar_starke_Kurve.jpg
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/PiCar.jpg
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/squirrel.jfif
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/squirrel.png
camp2code-project_phase_2/von Gruppe 4/playground/Opencv/street.jpg
camp2code-project_phase_2/von Gruppe 4/playground/Software/basecar.py
camp2code-project_phase_2/von Gruppe 4/playground/Software/basisklassen_cam.py
camp2code-project_phase_2/von Gruppe 4/playground/Software/basisklassen.py
camp2code-project_phase_2/von Gruppe 4/playground/Software/remote_steering_image_recording.py
camp2code-project_phase_2/von Gruppe 4/Dev/compute_Lines.py
camp2code-project_phase_2/von Gruppe 4/Dev/preprocess_frame.py
camp2code-project_phase_2/von Gruppe 4/Dev/video_preprocess.ipynb
camp2code-project_phase_2/von Gruppe 4/CamCar_Dashboard.py
camp2code-project_phase_2/von Gruppe 4/CamCar.py
camp2code-project_phase_2/von Gruppe 4/compute_lines.py
camp2code-project_phase_2/von Gruppe 4/datenlogger.py
camp2code-project_phase_2/von Gruppe 4/preprocess_frame.py
weltbeherrschungscode/__pycache__/frame_editing.cpython-37.pyc
weltbeherrschungscode/Allan/Projektphase2/__pycache__/frame_editing.cpython-37.pyc
.gitignore
